<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main"><!-- wp:group {"tagName":"article","metadata":{"name":"article"},"style":{"spacing":{"padding":{"bottom":"0"},"margin":{"bottom":"var:preset|spacing|70"}}}} -->
<article class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70);padding-bottom:0"><!-- wp:post-title {"textAlign":"center","level":1,"isLink":true} /-->

<!-- wp:post-content /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->